@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #282c34;
  --background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #21252b;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, rgb(var(--background))) rgb(var(--background));
}
